<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

    <!--SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS 검색 bar SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS-->
    <nav class="navbar bg-body-tertiary" style="margin-top: 3%; margin-bottom: 1%;">
        <div class="container-fluid">
            <a class="navbar-brand">[[${search.type}]]게시판</a>
            <form class="d-flex" role="search" method="get" th:action="@{/board}">

                <div class="container-fluid">
                    <select class="form-select" aria-label="Default select example" name="sort" th:field="${search.sort}">
                        <option value="DESC">최신순</option>
                        <option value="ASC">오래된순</option>
                    </select>
                </div>

                <div class="container-fluid">
                    <select class="form-select" aria-label="Default select example" name="cate" th:field="${search.cate}">
                        <option value="title">제목</option>
                        <option value="content">내용</option>
                        <option value="userId">글쓴이</option>
                    </select>
                </div>

                <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="search" th:field="${search.search}">
                <input type="hidden" th:value="${search.type}" name="type">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <!--EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE 검색 bar EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE-->

    <!--SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS 게시글 list SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS-->
    <table class="table table-hover">
        <tr>
            <th>제목</th>
            <th>내용</th>
            <th>작성일</th>
            <th>작성자</th>
            <th>추천수</th>
            <th>조회수</th>
        </tr>
        <tr th:each="boardData : ${list}" th:object="${boardData}" th:onclick="|location.href='@{/board/detail(boardId=*{boardDataNum})}'|" class="boardData-row">
            <td th:text="*{title}"></td>
            <td th:text="*{content}"></td>
            <td th:text="*{createdAt}"></td>
            <td th:text="*{userId}"></td>
            <td>?</td>
            <td>?</td>
            <!--<td th:text="*{likes}"></td>
            <td th:text="*{views}"></td>-->
        </tr>
    </table>
    <!--EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE 게시글 list EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE-->

    <!--SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS 페이지 블럭 SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS-->
    <div class="col-md-6" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:href="@{/board(page=${search.startPage}, search=${search.search}, sort=${search.sort}, cate=${search.cate}, type=${search.type})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/board(page=${search.page-1}, search=${search.search}, sort=${search.sort}, cate=${search.cate}, type=${search.type})}"><</a>
            </li>

                <div th:each="pageNum : ${page.elements}">
                    <div th:if="${search.page == pageNum}">
                        <li class="page-item" style="background-color: blue;">
                            <a class="page-link" th:href="@{/board(page=${pageNum}, search=${search.search}, sort=${search.sort}, cate=${search.cate}, type=${search.type})}" th:text="${pageNum}"></a>
                        </li>
                    </div>
                    <div>
                        <li class="page-item" th:if="${search.page != pageNum}">
                            <a class="page-link" th:href="@{/board(page=${pageNum}, search=${search.search}, sort=${search.sort}, cate=${search.cate}, type=${search.type})}" th:text="${pageNum}"></a>
                        </li>
                    </div>
                </div>


            <li class="page-item">
                <a class="page-link" th:href="@{/board(page=${search.page+1}, search=${search.search}, sort=${search.sort}, cate=${search.cate}, type=${search.type})}">></a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/board(page=${page.totalEndPage}, search=${search.search}, sort=${search.sort}, cate=${search.cate}, type=${search.type})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>

        <div class="col-md-6" th:if="${search.type != 'notice'}">
            <a type="submit" class="btn btn-primary" th:href="@{/board/form(type=${search.type})}">글쓰기</a>
        </div>
    </div>
    <!--EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE 페이지 블럭 EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE-->


</div>


</html>


