

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" style="margin-left: 15%; margin-right: 15%;">

    <form class="row g-3" style="margin: 20px;" method="post" th:action="@{/member/join}">

        <div class="col-md-6">
            <label for="kakaoId" class="form-label">카톡 아이디</label>
            <input type="text" class="form-control" id="kakaoId" placeholder="카톡 아이디" name="kakaoId">
        </div>
        <div class="col-md-6">
            <label for="campus" class="form-label">학교</label>
            <select id="campus" class="form-select" name="campus">
                <option value="강남구">서울대</option>
                <option value="노원구">고려대</option>
                <option value="중랑구">한체대</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="inputState" class="form-label">희망 지역</label>
            <select id="inputState" class="form-select" name="memberLoc">
                <option value="강남구">강남구</option>
                <option value="노원구">노원구</option>
                <option value="중랑구">중랑구</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="gender" class="form-label">성별</label>
            <select id="gender" class="form-select" name="gender">
                <option value="M">남성</option>
                <option value="F">여성</option>
            </select>
        </div>

        <div class="col-md-4">
            <label for="mm" class="form-label">인원</label>
            <select id="mm" class="form-select" name="mm">
                <option value="01">1</option>
                <option value="02">2</option>
                <option value="03">3</option>
                <option value="04">4</option>
                <option value="05">5</option>
            </select>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">신청</button>
        </div>
    </form>

</div>


</html>
